.button-block {
    display: flex;
    gap: 10px;   
    cursor: pointer;
}

.order-info {
    margin-bottom: 10px;
    // font-weight: 500;
}

.btn-group {
    margin-left: 10px;
}.product-container {
    display: flex;
    align-items:center
  }
  

.button-block {
    display: flex;
    gap: 10px;   
    cursor: pointer;
}

.order-info {
    margin-bottom: 10px;
    // font-weight: 500;
}

.btn-group {
    margin-left: 10px;
}