@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Common Styles */
.invisible {
  opacity: 0;
  /* opacity: 1; */
  /* background-color: #ff0000; */
}

/* Header */

/* ****МОЁ*********** */
/*  Верхняя правая часть главного меню */
.main-menu-right {
  display: flex;
  position: relative;

  /* background-color: #ffb676;
  padding: 5px;
  max-width: 480px;
  margin-left: auto; */
}

/* Форма с поиском в главном меню  */
.header-controls-search-form {
  position: absolute;
  right: 40px;
  /* top: calc(50% - 19px); */
  /* display: block; */
  
  display: flex;
  /* justify-content:space-between; */
  /* gap: 10px; */

  width: 300px;
  height: 38px;
  padding: 0 20px;

  /* background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: right; */
  

  /* z-index: 9; */

  /* background-color: #ff65a5; */
  /* margin-right: 10px; */
}
/* input формы поиска главного меню */
.header-controls-search-form .form-control {
  width: 99%;
  height: 73%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;

  /* background-color: #ff65a5; */
  /* border-radius: 50px; */
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: left;

}
/* **************************** */
/* Блок иконок лупы и корзины в правой части главного меню */
.header-controls-pics {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;

  /* background-color: lightblue; */
}
/* иконки в правой части главного меню */
.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  background-image: url(../img/header-controls-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

/*Пояснение: background-position: 30px 80px; — 
    изображение расположено 30px от левого края и
    80px от верхнего края элемента. */

    /* Значёк "ЛУПА" */
.header-controls-search {
  position: relative;
  right: 10px;
  /* bottom: 3px; */
  z-index: 999;
  background-position: -64px 0;
}

/* ???????? */
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}

/* Значёк "Корзина" */
.header-controls-cart {
  position: relative;
  background-position: 0 0;
}

/* Количество заказов в корзине (в красном кружке ) */
.header-controls-cart-full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}




/* Banner */
.banner {
  position: relative;
}

.banner-header {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}


/* Preloader */
.preloader {
  margin: 10px auto;  
  position: relative;
  width: 30px;
  height: 30px;
}
.preloader span {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.preloader :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.preloader :nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader :nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}
.preloader :last-child {
  background: #727e86;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Top Sales */
.top-sales {
  min-height: 300px;
}

/* моё */
.top-sales {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-sales-block {
  display: flex;
  justify-content: space-around

}

.card {
  display: block;
  /* width: calc((100% - 10px * 3) / 4); */
  width: calc((100% - 1px * 3) / 4);
  /* background-color: lightgray; */
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
}

.card-body {
  margin-left: 10px;
  margin-bottom: 10px;
  /* font-size: 20px; */
}


.img-fluid {
  /* width: 100%; */
  width: 100%; 
  /* max-height: 400px;  */
  object-fit: contain;
}
/* .card-img-top {
  width: 100%;
  max-height: 500px;

}  */

/* Catalog */
.catalog {
  min-height: 600px;
}

.catalog-categories {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.catalog-item-card {
  margin-bottom: 1em;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  margin-left: 5px;
}

.catalog-item-size.selected {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
}

.catalog-search-form {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  margin-bottom: 2em;
}
.catalog-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
}

/* Footer */
.footer {
  padding: 0 25px;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
}
.footer-pay-systems {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url(../img/footer-sprite.png);
}
.footer-pay-systems:not(:first-child) {
  margin-left: 5px;
}
.footer-pay-systems-paypal {
  background-position: -2px -6px;
}
.footer-pay-systems-master-card {
  background-position: -54px -8px;
}
.footer-pay-systems-visa {
  background-position: -104px -8px;
}
.footer-pay-systems-yandex {
  background-position: -154px -8px;
}
.footer-pay-systems-webmoney {
  background-position: -2px -46px;
}
.footer-pay-systems-qiwi {
  background-position: -52px -46px;
}

.footer-social-links {
  margin-top: 10px;
}
.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/footer-sprite.png);
}
.footer-social-link-twitter {
  background-position: -107px -42px;
}
.footer-social-link-vk {
  background-position: -157px -42px;
}
.footer-social-link:hover {
  cursor: pointer;
}

.footer-copyright {
  font-size: 0.8em;
}

.footer-contacts-phone {
  display: block;
}

.footer-contacts-email {
  display: block;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000;
}

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn {
  padding: 5px 10px;
  background-color: #e4e6e6 ;
  border-radius: 5px;
}
.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}


/* МОИ */
/* *************** */
.container {
  margin-top: 20px;
  margin-left: 10px;
  /* width: 100%; */
}

.active {
  color: red;
  background-color: lightcyan;
}

.main-menu,
.main-menu-left {
  display: flex;
  align-items: center
}

.main-menu {
  justify-content: space-between;
}


.main-menu-item {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.footer-pay-col {
  width: 25%;
}
.row {
  display: flex;
  justify-content:space-around;
  background-color: rgb(234, 233, 233);

}

.title-block {
  color: darkblue;
}

/* ******************************* */
/* .back-button {
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 10px;
  color: chocolate;
  border: 1px solid chocolate;
  background-color: white;
  border-radius: 5px;
} */

.home {
  margin-left: 10px;
}

.text-center {
  display: flex;
  justify-content: center;
}

.home-catalog-menu {
  display: flex;
  justify-content: center;

  gap: 10px;

  list-style: none;
}

/* *************** */


.menu-button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.home-catalog-goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* кнопка "Загрузить ещё" */
.button-more,
.button-product {
  padding: 5px 10px;
  border-radius: 5px;
  color: chocolate;
  border: 1px, solid, chocolate;
  background-color: rgb(249, 244, 236);
  font-size: 16px;
  /* margin-top: 15px; */
  
}

.button-more {
  margin-top: 15px;
}

/* Таблица */
.table,
.product-info,
.btn-my {
  margin-top: 20px;
  margin-bottom: 20px;
}

tr,
td,
.catalog-item {
  padding: 10px;
};

.btn-my {
  width: 100%;
  color: white;
  background-color: hotpink;
}

.img-product {
  max-width: 550px;
  max-height: 550px;
  min-width: 500px;
  margin-top: 10px;
}

.product-container {
  display: flex;
  align-items:center
}

/* Таблицы */
table, 
th, 
td , tr{ 
  border: 1px solid black; 
  border-collapse: collapse; 
}

th , .form-control {
  padding: 5px 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-form {
  width: 25rem;
}

.form-group {
  margin-top: 20px;
  /* font-size: 20px; */
}

/* .form-control {
  font-size: 20px;
} */

.form-check {
  margin-bottom: 20px;
}

/* .btn-form {
  font-size: 20px;
} */